
@use "variables" as *;




@mixin caja($justify, $align, $direction: column) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}


@mixin efecto-enfoque-tarjeta {
    outline: none !important;
    box-shadow: 0 0 0 3px $color-sombra-borde-tarjeta !important;
}