


$fuente-principal: "Short Stack", cursive;


$color-bg-sitio: rgba(219, 193, 172, 0.516);
$color-bg-tarjeta: #f9f9f9;
$color-texto-principal: rgba(56, 34, 15, 0.726);
$color-texto-secundario: rgba(120, 113, 113, 0.913);
$color-texto-claro: rgb(209, 209, 180);
$color-marron-oscuro: rgb(114, 84, 84); 


$color-borde-divisor: rgba(56, 34, 15, 0.3);
$color-borde-footer: solid grey;


$color-marca-destacado: rgb(241, 9, 218);
$color-bg-destacado-transparente: rgba(241, 9, 218, 0.1);
$color-sombra-destacado: rgba(241, 9, 218, 0.4);
$color-sombra-enfoque: rgba(241, 9, 218, 0.252);
$color-link-activo: rgb(127, 66, 66);
$color-sombra-borde-tarjeta: rgba(235, 166, 208, 0.4);
$color-boton-exito: rgb(102, 148, 33);