
@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: $color-bg-sitio;
}

::selection {
    background-color: $color-marron-oscuro;
    color: $color-texto-claro;
}

a {
    text-decoration: none;
}

span {
    color: $color-texto-secundario;
}